<style type="text/css">
    .highlight {
        background-color: beige;
    }
    .strike {
        text-decoration: line-through;
    }
</style>
<p>
    <label for="showPanelCheck">Show Panel?</label>
    <input id="showPanelCheck" type="checkbox" [(ngModel)]="showPanel"/>
</p>
<p *ngIf="showPanel">Panel is Shown</p>
<p [ngClass]="getClasses()">Custom Classes</p>
<p [ngStyle]="getStyles()">Custom Styles</p>
<h2>{{title}}</h2>
<form>
    <fieldset>
       <legend>Indicator</legend>
        <input type="checkbox" [(ngModel)]="indicator" name="indicator"/>
    </fieldset>
    <fieldset>
        <legend>Count</legend>
        <input type="range" min="0" max="5" step="1" [(ngModel)]="count" name="count"/>
    </fieldset>
    <fieldset>
        <legend>Messages</legend>
        <ol> <!--ordered list-->
            <li *ngFor="let message of messages">
                {{message}}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Results</legend>
        <ul>
            <li><strong>Indicator:</strong> {{indicator}}</li>
            <li><strong>Count:</strong> {{count}}</li>
            <li><strong>Title:</strong> {{title}}</li>
            <li><strong>Messages:</strong> {{messages}}</li>
        </ul>
    </fieldset>
</form>