<h2>{{title}}</h2>
<form>
    <fieldset>
       <legend>Indicator</legend>
        <input type="checkbox" [(ngModel)]="indicator" name="indicator"/>
    </fieldset>
    <fieldset>
        <legend>Count</legend>
        <input type="range" min="0" max="5" step="1" [(ngModel)]="count" name="count"/>
    </fieldset>
    <fieldset>
        <legend>Messages</legend>
        <ol>
            <li *ngFor="let message of messages">
                {{message}}
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Results</legend>
        <ul>
            <li><strong>Indicator:</strong> {{indicator}}</li>
            <li><strong>Count:</strong> {{count}}</li>
            <li><strong>Title:</strong> {{title}}</li>
            <li><strong>Messages:</strong> {{messages}}</li>
        </ul>
    </fieldset>
</form>