<h2>My Heroes</h2>

<div>
    <!-- input #heroName creates an input id tag heroName-->
    <label>Hero name:</label><input #heroName />
    <button (click)="add(heroName.value);heroName.value=''">Add</button>
</div>

<ul class="heroes">
    <!-- use property binding of li css class selected, class.selected -->
    <li *ngFor="let hero of heroes" [class.selected]="hero===selectedHero" (click)="onSelect(hero)">
        <!-- each hero goes here -->
        <span class="badge">{{hero.id}}</span> {{hero.name}}
        <!-- use $event.stopPropagation() to stop the the click event listening of to be deleted element -->
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<!-- property binding to input property in child component-->
<!-- <demo-hero-detail [hero]="selectedHero"></demo-hero-detail> -->
<!-- mini heroes view -->
<div *ngIf="selectedHero">
    <h2>
        <!-- Pipes are a good way to format strings, currency amounts, dates-->
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
